/out/production/itmo-labs-java/labs/java/lab4/task8/ArrayInput.class
/out/production/itmo-labs-java/labs/java/lab6/task1/BankEmployee.class
/out/production/itmo-labs-java/labs/java/lab6/task2/BankEmployee.class
/out/production/itmo-labs-java/labs/java/lab6/task4/Base.class
/out/production/itmo-labs-java/labs/java/lab6/task3/Car.class
/out/production/itmo-labs-java/labs/java/lab5/Censor.class
/out/production/itmo-labs-java/labs/java/lab6/task1/Client.class
/out/production/itmo-labs-java/labs/java/lab6/task2/Client.class
/out/production/itmo-labs-java/labs/java/lab4/task6/ContainsOneOrThree.class
/out/production/itmo-labs-java/labs/java/lab6/task4/Derived.class
/out/production/itmo-labs-java/labs/java/lab4/task2/DivisibleNumbers.class
/out/production/itmo-labs-java/labs/java/lab4/task5/FirstLastCheck.class
/out/production/itmo-labs-java/labs/java/lab4/task10/FirstUnique.class
/out/production/itmo-labs-java/labs/java/lab4/task4/IncreasingCheck.class
/out/production/itmo-labs-java/labs/java/lab5/InputReader.class
/out/production/itmo-labs-java/labs/java/lab5/LongestWordFinder.class
/out/production/itmo-labs-java/labs/java/lab5/Main.class
/out/production/itmo-labs-java/labs/java/lab6/task1/Main.class
/out/production/itmo-labs-java/labs/java/lab6/task2/Main.class
/out/production/itmo-labs-java/labs/java/lab6/task3/Main.class
/out/production/itmo-labs-java/labs/java/lab6/task4/Main.class
/out/production/itmo-labs-java/labs/java/lab4/task11/MergeSortRandom.class
/out/production/itmo-labs-java/labs/java/lab4/task1/OddNumbers.class
/out/production/itmo-labs-java/labs/java/lab5/PalindromeChecker.class
/out/production/itmo-labs-java/labs/java/lab6/task1/Person.class
/out/production/itmo-labs-java/labs/java/lab6/task2/Person.class
/out/production/itmo-labs-java/labs/java/lab4/task7/SortedCheck.class
/out/production/itmo-labs-java/labs/java/lab5/SubstringCounter.class
/out/production/itmo-labs-java/labs/java/lab4/task3/SumCheck.class
/out/production/itmo-labs-java/labs/java/lab4/task9/SwapFirstLast.class
/out/production/itmo-labs-java/labs/java/lab6/task3/Truck.class
/out/production/itmo-labs-java/labs/java/lab6/task2/VIP.class
/out/production/itmo-labs-java/labs/java/lab5/WordReverser.class
/out/production/itmo-labs-java/labs/java/lab6/task5/Main.class
/out/production/itmo-labs-java/labs/java/lab6/task5/PersonBase.class
/out/production/itmo-labs-java/labs/java/lab6/task5/PersonChild.class
